{
  "backend_url": "http://backend:80/",
  "http_url": "{{ GOLANG_REST_SVC_STARTER_HTTP_URL }}",
  "http_verification_text": "{{ GOLANG_REST_SVC_STARTER_HTTP_VERIFICATION_TEXT }}",
  "client_cert_url": "https://stp.wien.gv.at:4543/stdp/whoami/",
  "client_cert_crt": "/secrets/client.crt",
  "client_cert_key": "/secrets/client.key",
  "ca_cert_pem": "/secrets/ca.pem",
  "validate_certs": true
}
